@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar-wrap {
        position: relative;
        display: flex;
        align-items: center;
        height: 48px;
        margin-right: 16px;
    }
}

body {
    background-color: rgb(16, 16, 16);
}